* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: black;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#logo {
  width: 95px;
  padding: 0;
  height: 55px;
}

#navbar {
  max-width: 100%;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.navbar-dark {
  color: white !important;
}

.nav-link {
  color: #ced4da;
}

.nav-link:hover {
  color: red;
  font-weight: 500;
}

#profile-icon {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid white;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

#profile:hover {
  -webkit-box-shadow: 1px 1px 9px 9px rgba(255, 0, 0, 0.41);
  -moz-box-shadow: 1px 1px 9px 9px rgba(255, 0, 0, 0.41);
  box-shadow: 1px 1px 9px 9px rgba(255, 0, 0, 0.41);
  outline: none !important;
}

#profile:focus {
  outline: none !important;
}

#profile {
  color: white;
  outline: none !important;
}

#notify {
  width: 25px;
  height: 25px;
  color: white;
}

#notify:hover {
  color: red;
}

#search-icon {
  width: 25px;
  height: 25px;
  color: white;
}

#search-icon:hover {
  color: red;
}

.svg-icon-logo {
  margin-right: 15px;
  color: grey;
  height: 25px;
  width: 36px;
}
.member-footer-copywrite {
  font-size: 11 px;
}

.member-footer {
  max-width: 980 px;
  margin: 20px auto 0;
  padding: 04%;
  color: grey;
}

#serviceCode {
  border: solid 1.5px grey;
}

.member-footer .member-footer-links {
  font-size: 13 px;

  padding: 0;
  margin-right: 0px;
}

.member-footer-link-wrapper {
  list-style: none;

  box-sizing: border-box;
  margin-bottom: 16px;
}

.container {
  margin-left: 0px;
  padding-left: 0px;
}

.member-footer-link {
  list-style: none;
  color: grey;
  margin-bottom: 16px;
  font-size: 13 px;
}

a:hover {
  color: grey;
}

.svg-icon {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.member-footer-link {
  list-style: none;
  color: grey;
  margin-bottom: 16px;
  font-size: 13 px;
}

.social-links {
  margin-bottom: 1em;
}

.dropdown-menu {
  transform: translateX(-50%);
}

.social-links {
  color: white;
  width: 200px;
  height: 30px;
}

.social-link {
  color: white;
  width: 45px;
  height: 50px;
  margin-right: 10px;
  color: grey;
}
